<div ng-hide="attrs.id">
  <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
</div>
<div ng-show="attrs.id">

  <div class="input-group" style="width: 150px;" ng-show="quantityMax">


    <input class="form-control" type="number" min="1" max="30" name="quantity" id="quantity" ng-model="q"></input>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude>Добавить</button>



    </div>


  </div>
  <mark ng-show="inCart()">
    Этот товар уже в вашей корзине <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer; color: blue;">Убрать</a>
  </mark>
</div>
