<div class="boxes-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Колпаки</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4 class="margin-helper">Мы производим и доставляем колпаки из пластика под наши подставки. Колпаки доступны для определенных моделей. Они отличаются по толщине (2 мм или 3 мм) и размеру. На данный момент колпаки доступны для следующих моделей: </h4>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Модель</th>
              <th>Толщина</th>
              <th>Цена</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/#!/S26/oak" target="_blank">S26</a></td>
              <td>2 мм</td>
              <td>500 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S215/beech" target="_blank">S215</a></td>
              <td>2 мм</td>
              <td>900 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S230/beech" target="_blank">S230</a></td>
              <td>2 мм</td>
              <td>980 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S218/beech" target="_blank">S218</a></td>
              <td>2 мм</td>
              <td>1050 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S225/beech" target="_blank">S225</a></td>
              <td>2 мм</td>
              <td>1450 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S235/beech" target="_blank">S235</a></td>
              <td>2 мм</td>
              <td>1750 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S255/beech" target="_blank">S255</a></td>
              <td>2 мм</td>
              <td>2900 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S275/beech" target="_blank">S275</a></td>
              <td>3 мм</td>
              <td>3500 руб.</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
    <div class="col-md-4">
      <img src="http://www.kolobashkin.ru/images/2.jpg">
      <p><small>Колпак под модель S230</small></p>
      <img src="http://www.kolobashkin.ru/images/8.jpg">
      <p><small>Колпак под модель S230</small></p>
      <img src="http://www.kolobashkin.ru/images/9.jpg">
      <p><small>Колпак под модель S230</small></p>
      <img src="http://www.kolobashkin.ru/images/7.jpg">
      <p><small>Колпак под модель S230</small></p>
    </div>
  </div>

</div>
