<div class="boxes-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Колпаки</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <h4 class="margin-helper">Мы производим и доставляем колпаки из оргстекла под наши подставки. Колпаки доступны для определенных моделей. Они отличаются по толщине (2 мм или 3 мм) и размеру. На данный момент колпаки доступны для следующих моделей: </h4>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Модель</th>
              <th>Высота</th>
              <th>Толщина</th>
              <th>Цена</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/S26/oak" target="_blank">S26B</a></td>
              <td>100 мм</td>
              <td>2 мм</td>
              <td>900 руб.</td>
            </tr>
            <tr>
              <td><a href="/S215/beech" target="_blank">S215B</a></td>
              <td>100 мм</td>
              <td>2 мм</td>
              <td>1500 руб.</td>
            </tr>
            <tr>
              <td><a href="/S231/beech" target="_blank">S231B</a></td>
              <td>75 мм</td>
              <td>2 мм</td>
              <td>1700 руб.</td>
            </tr>
            <tr>
              <td><a href="/S218/beech" target="_blank">S218B</a></td>
              <td>100 мм</td>
              <td>2 мм</td>
              <td>1650 руб.</td>
            </tr>
            <tr>
              <td><a href="/S225/beech" target="_blank">S225B</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>2000 руб.</td>
            </tr>
            <tr>
              <td><a href="/S230U/beech" target="_blank">S230UB</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>1800 руб.</td>
            </tr>
            <tr>
              <td><a href="/S230/beech" target="_blank">S230B</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>3000 руб.</td>
            </tr>
            <tr>
              <td><a href="/S235/beech" target="_blank">S235B</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>3300 руб.</td>
            </tr>
            <tr>
              <td><a href="/S255/beech" target="_blank">S255B</a></td>
              <td>170 мм</td>
              <td>2 мм</td>
              <td>5000 руб.</td>
            </tr>
            <tr>
              <td><a href="/S275/beech" target="_blank">S275B</a></td>
              <td>280 мм</td>
              <td>3 мм</td>
              <td>6000 руб.</td>
            </tr>

          </tbody>

        </table>
      </div>
      <h5 lass="margin-helper">(!) Стоимость указана за подставку с колпаком.</h5>
      <h5 lass="margin-helper">Колпаки изготавливаются под заказ, есть возможность их изготовить произвольных размеров.</h5>
      <div class="row">
        <div class="col-md-8">
        <form  class="forma-zayavki" action="send.php" method="POST">
          <div class="form-group">
            <label>Имя:</label>
            <input type="text" name="name" placeholder="Иванов Иван Иванович" class="form-control">
          </div>
          <div class="form-group">
            <label>E-mail:</label>
            <input type="text" name="email" placeholder="example@mail.ru" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Контактный телефон:</label>
            <input type="text" name="tel" placeholder="89213456789" class="form-control">
          </div>
          <div class="form-group">
            <label>Сообщение:</label>
            <textarea rows="10" class="form-control" name="message" placeholder="Напишите необходимые параметры для изготовления колпака: длина, ширина, высота, толщина (2мм или 3мм)" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>

    </div>

    <div class="col-md-4 col-sm-4">
      <a href="/S218/beech"><img src="images/9.jpg" title="Колпак под модель S218B"></a>
      <p><small>Колпак под модель S218B</small></p>
      <a href="/S230/beech"><img src="images/2.jpg" title="Колпак под модель S230B"></a>
      <p><small>Колпак под модель S230B</small></p>
      <a href="/S255/beech"><img src="images/8.jpg" title="Колпак под модель S255"></a>
      <p><small>Колпак под модель S255B</small></p>
      <a href="/S275/beech"><img src="images/7.jpg" title="Колпак под модель S275B"></a>
      <p><small>Колпак под модель S275B</small></p>
    </div>
  </div>

</div>
