<div class="boxes-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Колпаки</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4 class="margin-helper">Мы производим и доставляем колпаки из оргстекла под наши подставки. Колпаки доступны для определенных моделей. Они отличаются по толщине (2 мм или 3 мм) и размеру. На данный момент колпаки доступны для следующих моделей: </h4>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Модель</th>
              <th>Высота</th>
              <th>Толщина</th>
              <th>Цена</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/#!/S26/oak" target="_blank">S26B</a></td>
              <td>100 мм</td>
              <td>2 мм</td>
              <td>500 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S215/beech" target="_blank">S215B</a></td>
              <td>100 мм</td>
              <td>2 мм</td>
              <td>900 руб.</td>
            </tr>
            <tr>
              <td>S231B</td>
              <td>75 мм</td>
              <td>2 мм</td>
              <td>980 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S218/beech" target="_blank">S218B</a></td>
               <td>100 мм</td>
              <td>2 мм</td>
              <td>1050 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S225/beech" target="_blank">S225B</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>1450 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S230/beech" target="_blank">S230B</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>1600 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S230U/beech" target="_blank">S230UB</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>1500 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S235/beech" target="_blank">S235B</a></td>
              <td>150 мм</td>
              <td>2 мм</td>
              <td>1750 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S255/beech" target="_blank">S255B</a></td>
              <td>170 мм</td>
              <td>2 мм</td>
              <td>2900 руб.</td>
            </tr>
            <tr>
              <td><a href="/#!/S275/beech" target="_blank">S275B</a></td>
              <td>280 мм</td>
              <td>3 мм</td>
              <td>3700 руб.</td>
            </tr>

          </tbody>

        </table>
      </div>
            <h5 lass="margin-helper">(!) Стоимость указана за подставку с колпаком.</h5>
            <h5 lass="margin-helper">Колпаки изготавливаются под заказ, есть возможность их изготовить произвольных размеров.</h5>


   <form action="send.php" method="POST"> 
 
    <p><strong>Имя: </strong></p><p> <input type="text" name="name" placeholder="Иванов Иван Иванович" size="50"> </p> 
    <p><strong>E-mail: </strong></p><p> <input type="text" name="email" placeholder="example@mail.ru" size="50"></p>
    <p><strong>Контактный телефон: </strong></p><p> <input type="text" name="tel" placeholder="89213456789" size="50"></p> 
    <p><strong>Сообщение: </strong></p><p> <textarea rows="10" cols="50" name="message" placeholder="Напишите необходимые параметры для изготовления колпака: длина, ширина, высота, толщина (2мм или 3мм)"></textarea></p> 
    <input type="submit" value="Отправить" class="btn btn-primary" > </form>


    </div>
    <div class="col-md-4">
      <img src="images/9.jpg">
      <p><small>Колпак под модель S218B</small></p>
      <img src="images/2.jpg">
      <p><small>Колпак под модель S230B</small></p>
      <img src="images/8.jpg">
      <p><small>Колпак под модель S255B</small></p>
      <img src="images/7.jpg">
      <p><small>Колпак под модель S275B</small></p>
    </div>
  </div>

</div>
