<div class="filters-block">
  <div class="row">
    <div class="col-md-5">
      <p><a class="filters-btn" ng-class="{active: (mainFilter == '')}" ng-click="mainFilter = ''">Все</a></p>
      <p><a class="filters-btn" ng-class="{active: (mainFilter == 'plinth')}" ng-click="mainFilter = 'plinth'">Постаменты</a></p>
      <p><a class="filters-btn" ng-class="{active: (mainFilter == 'round')}" ng-click="mainFilter = 'round'">Круглые</a></p>
      <p><a class="filters-btn" ng-class="{active: (mainFilter == 'square')}" ng-click="mainFilter = 'square'">Прямоугольные {{location}}</a></p>
    </div>
    <div class="col-md-5">
      <p><a class="filters-btn" ng-class="{active: (mainSort == 'sortCount')}" ng-click="mainSort = 'sortCount'">По умолчанию</a></p>
      <p><a class="filters-btn" ng-class="{active: (mainSort == 'default_settings.price')}" ng-click="mainSort = 'default_settings.price'">Сначала дешевле</a></p>
      <p><a class="filters-btn" ng-class="{active: (mainSort == '-default_settings.price')}" ng-click="mainSort = '-default_settings.price'">Сначала дороже</a></p>
    </div>

  <div class="col-md-2">
    <input type="text" class="form-control search-form" placeholder="Поиск по артикулу" ng-model="search"></input>
  </div>
</div>
</div>


<div class="catalog-block">
  <div class="row">
    <div class="repeat-animation" ng-repeat="item in items | orderBy: mainSort | filter: {type: mainFilter} | filter : {id: search}">
      <div class="col-md-3" ng-show="item.isShown">
        <a href="/#!/{{item.id}}/{{item.default_settings.material}}">
          <div class="wrapper">
            <img ng-src="{{item.default_settings.image}}">
            <div class="item-description">
              <p>{{item.default_settings.price}} <span style="font-family: Arial;">&#8381;<span></p>
          </div>

          <div class="item-sizes">
            <p>
              <span ng-show="item.diameter_top">&Oslash;&#8202;{{item.diameter_top}} x</span>
                <span ng-show="item.width_top">{{item.width_top}} x</span>
                <span ng-show="item.length_top">{{item.length_top}} x</span>
                <span ng-show="item.height">{{item.height}}</span>&#8202;mm
              </p>
            </div>
            <div class="item-materials">
              <p>
                <span ng-repeat="material in item.materials">
              <img src="/images/oak-texture.png" class="texture" title="Дуб" ng-show="material.name == 'oak' && material.isShown" >
              <img src="/images/beech-texture.png" class="texture" title="Бук" ng-show="material.name == 'beech' && material.isShown" >
              <img src="/images/birch-texture.png" class="texture" title="Береза" ng-show="material.name == 'birch' && material.isShown" >
              <img src="/images/pine-texture.png" class="texture" title="Сосна" ng-show="material.name == 'pine' && material.isShown" >
            </span>
              </p>
            </div>
            <div class="item-new" ng-show="item.promo">
              <p ng-show="item.promo"> <span>{{item.promo}}</span></p>

            </div>
            <div class="item-id">
              <p>{{item.id}}</p>
            </div>
            <div class="item-action">
              <a href="/#!/{{item.id}}/{{item.default_settings.material}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
