<div class="contacts-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Контакты</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Россия, г. Санкт-Петербург</h4>
      <p>Электронная почта: <a href="mailto:info@kolobashkin.ru">info@kolobashkin.ru</a></p>
      <p>Мы Вконтакте: <a href="https://vk.com/kolobashkin_ru" target="_blank">vk.com/kolobashkin_ru</a></p>
      <p>Мы в Инстаграм: <a href="https://www.instagram.com/kolobashkin.ru/" target="_blank">instagram.com/kolobashkin.ru</a></p>
      <p>Сайт: <a href="http://www.kolobashkin.ru/" target="_blank">kolobashkin.ru</a></p>
      <h4 class="tel-opt">Отдел оптовых продаж:</h4>
      <p><a href="tel: +79995280010">+7 999 528-00-10</a></p>
    </div>
    <div class="col-md-4">
      <h4>Спешнева Вера Александровна (ИП)</h4>
      <p>ИНН 110605439307 </p>
      <p>ОГРНИП 315784700224782</p>
      <p>Поставлена на учет 24.11.2015 в МИФНС №10 по Санкт-Петербургу</p>
      <p>Р/счет № 40802810004200000565 Ф-л ПТР ПАО «Ханты-Мансийский банк Открытие» г.Санкт-Петербург</p>
      <p>БИК 044030809</p>
      <p>к/с 30101810740300000809</p>
    </div>
  </div>
</div>
