<div class="delivery-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Доставка</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <p>Мы рады сообщить вам, что теперь мы доставляем нашу продукцию по всей России. Наши подставки уже нашли своих счастливых обладателей в Калининграде и Владивостоке!</p>
        <p>Для розничных покупателей, при заказе на сумму от 1500 руб., доставка по Санкт-петербургу бесплатная. </p>
        <p>Если сумма заказа менее 1500 руб, то стоимость доставки по Санкт-Петербургу составит 250 руб. </p>
        <p>Доставка в регионы оговаривается индивидуально.</p>
      </div>
    </div>

</div>
