<div class="gallery-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Галерея моделей на наших подставках</h1>
    </div>
  </div>

  <!--  <div class="col-md-6 col-sm-6">
      <img src="images/13.jpg">
      <p><small>Йол и шлюпка, производители - Мастер-корабел и Фальконет</small></p>
    </div>
-->

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <a href="images/14.jpg" data-lightbox="kolobashkin_images"><img src="images/14.jpg" title="Подставка S230B"></a>
      <p><small><a href="/S230/beech">S230B</a>, Т-90А от Дмитрия Скуркис ("Звезда" с доработками)</small></p>
    </div>
    <div class="col-md-3 col-sm-3">
      <a href="images/6.jpg" data-lightbox="kolobashkin_images"><img src="images/6.jpg" title="Подставка S212B"></a>
      <p><small><a href="/S212/beech">S212B</a>, модель: «Сталкер», Evolution Miniatures, автор: Сергей Травианский</small></p>
    </div>
    <div class="col-md-3 col-sm-3">
      <a href="images/1.jpg" data-lightbox="kolobashkin_images"><img src="images/1.jpg" title="Подставка S235B"></a>
      <p><small><a href="/S235/beech">S235B</a>, модель: Т-90, ZVEZDA, автор: Фёдоров Александр</small></p>
      <a href="images/3.jpg" data-lightbox="kolobashkin_images"><img src="images/3.jpg" title="Подставки P130B"></a>
      <p><small><a href="/P130/beech">P130B</a>, "Тут, что ни страница - мрачные всё лица, Луидоров и пиастров звон..."</small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <a href="images/11.jpg" data-lightbox="kolobashkin_images"><img src="images/11.jpg" title="Подставка S215B"></a>
      <p><small><a href="/S215/beech">S215B</a>, "КВ-1", масштаб 1/48, автор: Вячеслав Ермаков.</small></p>
      <a href="images/12.jpg" data-lightbox="kolobashkin_images"><img src="images/12.jpg" data-lightbox="kolobashkin_images"></a>
      <p><small><a href="/S210/beech">S210B</a>, незваный гость", масштаб 1/16, автор: Вячеслав Ермаков</small></p>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="images/5.jpg" data-lightbox="kolobashkin_images"><img src="images/5.jpg" title="Подставка P460D"></a>
      <p><small><a href="/P460/oak">P460D</a>, модель: «Шотландец», автор: Александр Снегирев</small></p>
    </div>
    <div class="col-md-3 col-sm-6">
     <a href="images/4.jpg" data-lightbox="kolobashkin_images"> <img src="images/4.jpg" title="Подставка R560B"></a>
      <p><small><a href="/R560/beech">R560B</a>, Харьков. 1943г., машстаб 1/16. Смола. Производитель - Quasar Miniatures. Скульптор Сергей Менелаев, автор: Максим Веретельников</small></p>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="images/10.jpg" data-lightbox="kolobashkin_images"><img src="images/10.jpg" title="Подставка R1120B"></a>
      <p><small><a href="/R1120/beech">R1120B</a>, Забытая "Победа", масштаб 1/43, автор: Вячеслав Мартин</small></p>
      <a href="images/15.jpg" data-lightbox="kolobashkin_images"><img src="images/15.jpg" title="Подставка S230B"></a>
      <p><small><a href="/S230/beech">S230B</a>, Т-10М от Meng, автор: Вячеслав Ермаков</small></p>
      <a href="images/17.jpg" data-lightbox="kolobashkin_images"><img src="images/17.jpg" title="Подставка P460CD"></a>
      <p><small><a href="/P460C/oak">P460CD</a>, бюст средневекового пехотинца 1\10 производитель ALTORES STUDIO - СТУДИЯ АЛЬТОРЕС, автор: Вячеслав Ермаков</small></p>
    </div>
  </div>
</div>
