<div class="row">
    <button class="btn filters-btn" ng-class="{active: (mainFilter == '')}"  ng-click="mainFilter = ''">Все</button>
    <button class="btn filters-btn" ng-class="{active: (mainFilter == 'plinth')}" ng-click="mainFilter = 'plinth'">Постаменты</button>
    <button class="btn filters-btn" ng-class="{active: (mainFilter == 'round')}" ng-click="mainFilter = 'round'">Круглые</button>
    <button class="btn filters-btn" ng-class="{active: (mainFilter == 'square')}" ng-click="mainFilter = 'square'">Прямоугольные</button>

    <button class="btn filters-btn" ng-class="{active: (mainSort == 'sortCount')}" ng-click="mainSort = 'sortCount'">По умолчанию</button>
    <button class="btn filters-btn" ng-class="{active: (mainSort == 'default_settings.price')}" ng-click="mainSort = 'default_settings.price'">Сначала дешевле</button>
    <button class="btn filters-btn" ng-class="{active: (mainSort == '-default_settings.price')}" ng-click="mainSort = '-default_settings.price'">Сначала дороже</button>


<!--
  <div class="btn-group" data-toggle="radio">
  <label class="btn btn-primary">
    <input type="radio" value="round" ng-model="mainFilter"> Круглые
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="plinth" ng-model="mainFilter"> Пьедесталы
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="square" ng-model="mainFilter"> Прямоугольные
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="" ng-model="mainFilter"> Очистить
  </label>
</div>

<div class="btn-group" data-toggle="radio">
<label class="btn btn-primary">
  <input type="radio" value="default_settings.price" ng-model="mainSort"> Цена по возрастанию
</label>
<label class="btn btn-primary">
  <input type="radio" value="-default_settings.price" ng-model="mainSort"> Цена по убыванию
</label>
<label class="btn btn-primary">
  <input type="radio" value="sortCount" ng-model="mainSort"> По умолчанию
</label>
</div>
-->
  <div ng-repeat="item in items | orderBy: mainSort | filter: {type: mainFilter}">

    <div class="col-md-3" ng-show="item.isShown">
      <a href="/#/{{item.id}}/{{item.default_settings.material}}">
        <div class="wrapper">
        <img ng-src="{{item.default_settings.image}}">
          <div class="item-description">
            <p>{{item.default_settings.price}} &#8381;</p>
          </div>

          <div class="item-sizes">
            <p>
              <span ng-show="item.diameter_top">&Oslash;&#8202;{{item.diameter_top}} x</span>
              <span ng-show="item.width_top">{{item.width_top}} x</span>
              <span ng-show="item.length_top">{{item.length_top}} x</span>
              <span ng-show="item.height">{{item.height}}</span>&#8202;mm
            </p>
          </div>
          <div class="item-materials">
            <p>
              <span ng-repeat="material in item.materials">
              <img src="/images/oak-texture.png" class="texture" title="Дуб" ng-show="material.name == 'oak' && material.isShown" ></img>
              <img src="/images/beech-texture.png" class="texture" title="Бук" ng-show="material.name == 'beech' && material.isShown" ></img>
              <img src="/images/birch-texture.png" class="texture" title="Береза" ng-show="material.name == 'birch' && material.isShown" ></img>
              <img src="/images/pine-texture.png" class="texture" title="Сосна" ng-show="material.name == 'pine' && material.isShown" ></img>
            </span>
            </p>
          </div>
          <div class="item-new" ng-show="item.promo">
            <p ng-show="item.promo" > <span>{{item.promo}}</span></p>

          </div>
          <div class="item-id">
            <p>{{item.id}}</p>
          </div>
          <div class="item-action">
            <a href="/#/{{item.id}}/{{item.default_settings.material}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
