<div class="main-block">
  <div class="row">
    <div class="col-md-12">
      <a href=""><img src="/images/promo-1.jpg"></a>
    </div>
  </div>
  <div style="padding-top: 30px;" class="row">
    <div class="col-md-6">
      <a href=""><img src="/images/promo-2.jpg"></a>
    </div>
    <div class="col-md-6">
      <a href=""><img src="/images/promo-3.jpg"></a>
    </div>
  </div>
  <div style="padding-top: 30px;" class="row">
    <div class="col-md-4">
      <a href=""><img src="/images/promo-5.jpg"></a>
    </div>
    <div class="col-md-4">
      <a href=""><img src="/images/promo-4.jpg"></a>
    </div>
    <div class="col-md-4">
      <a href=""><img src="/images/promo-6.jpg"></a>
    </div>
  </div>
</div>
