<div class="main-block">
  <div class="row mob-contacts visible-xs">
    <div class="col-md-12 ">
      <ul class="list-inline">
        <li>Россия, Санкт-Петербург</li>
        <li><a href="tel:+79995280010">+7 999 528-00-10</a> | <a href="mailto: info@kolobashkin.ru">info@kolobashkin.ru</a></li>
      </ul>
      <p translate></p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="row main-news">
    <div class="">
      <div class="col-md-6 col-xs-12">
        <p><b>Компания «Колобашкин» рада приветствовать вас на страницах сайта!</b></p>
        <h1>Мы — молодая, развивающаяся компания из Санкт-Петербурга, но уже успели завоевать признание у именитых скульпторов и художников. Ассортимент компании состоит из подставок для диорам, миниатюр, бюстов, моделей танков, кораблей и самолётов.
Мы работаем по всей России. Желаем вам приятных покупок! </h1>
        <p class="pull-right">С уважением, коллектив «<b>Колобашкин.ru</b>»</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <p>Обновления</p>
        <!-- Новость -->
        <div class="media">
          <div class="media-left media-top">
            <!--<img class="media-object" src="/images/items/P535B.jpg"> -->
          </div>
          <div class="media-body">
            <small>22 октября 2016</small>
            <h4 class="media-heading">Встречайте новые цвета</h4>
            <p>Теперь вы можете заказать колобашки с индивидуальным покрытием: махагон, венге, морёный дуб.</p>
            <div class="main-kolobashka"><img src="/images/colors.jpg"></div>
            <p><font size=-2>Доступные модели для индивидуального покрытия: R160B, R260B, R460B, R560B, R170B, R270B, R470B, R180B, R580B, P130B, P248B, S26B, S212B, S215B, S218B, S225B, S230B, S235B, S24B, S255B, S275B, S230UB, P460D, P460CD, P560D, P560CD, S231B, P535B, S384B, S3100B.</font></p>
          </div>
        </div>
        <!-- Конец Новости -->
        <!-- Новость -->
        <div class="media">
          <div class="media-left media-top">
              <!--<img class="media-object" src="/images/items/P535B.jpg"> -->
          </div>
          <div class="media-body">
            <small>22 октября 2016</small>
            <h4 class="media-heading">Мы расширили ассортимент</h4>
            <p>Новые модели: <a href="/#!/P535/beech">P535B</a>, <a href="/#!/R384/beech">R384B</a>, <a href="/#!/R3100/beech">R3100B</a></p>
          </div>
        </div>
        <!-- Конец Новости -->

<!-- показать предыдущие -->


      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-8 col-sm-6">
      <a class=" hover-block" href="/#!/catalog">
        <div class="promo-1 main-promo">
          <img src="/images/promo-main.png">
          <h4>Финальных штрих для ваших моделей</h4></div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 ">
      <a class=" hover-block" href="/#!/R460/oak">
        <div class="promo-2 left-2-promo">
          <h4>Дарим<br>солидность</h4><img src="/images/poromo-left-1.png"></div>
      </a>
      <a class=" hover-block" href="/#!/P130/beech">
        <div class="promo-3 left-3-promo">
          <h4>Подставки<br>от 120 руб.</h4><img src="/images/promo-left-2.png"></div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 main-margin">
      <a class=" hover-block" href="/#!/S225/beech">
        <div class="promo-1 right-2-promo">
          <h4>Подходят для любых<br>миниатюр</h4><img src="/images/promo-left-3.png"></div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 main-margin">
      <a class=" hover-block" href="/#!/boxes">
        <div class="promo-2 middle-1-promo">
          <h4>Прозрачные<br>колпаки<br>от 360 руб.</h4><img src="/images/promo-box.png"></div>
      </a>
      <a class=" hover-block" href="/#!/S275/beech">
        <div class="promo-3 middle-2-promo">
          <img src="/images/promo-mid-3.png">
          <h4>Для моделей любых размеров</h4></div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 main-margin">
      <a class=" hover-block" href="/#!/P460/oak">
        <div class="promo-1 right-3-promo">
          <h4>Шикарным<br>моделям —<br>шикарные<br>подставки</h4><img src="/images/promo-right-4.png"></div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 main-margin">
      <a class=" hover-block" href="/#!/delivery">
        <div class="promo-2 bottom-promo">
          <img src="/images/package.svg">
          <h4>Доставка по всей России</h4></div>
      </a>

    </div>
    <div class="col-md-3 col-sm-6 main-margin">
      <a class=" hover-block" href="/#!/shops">
        <div class="promo-2 bottom-promo">
          <img src="/images/restaurant.svg">
          <h4>Офлайн продажа</h4></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 main-margin">
      <a class=" hover-block" href="/#!/payment">
        <div class="promo-2 bottom-promo">
          <img src="/images/credit-card.svg">
          <h4>Оплата на сайте</h4></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 main-margin">
      <a class=" hover-block" href="/#!/contacts">
        <div class="promo-2 bottom-promo">
          <img src="/images/business.svg">
          <h4>Оптовые поставки</h4></div>
      </a>
    </div>

  </div>

</div>
