<div class="news-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Свежие новости</h1>

    </div>
  </div>
  <div class="row news">
    <div class="col-md-8">
      <div id="vk_post_-100461189_207"></div>
      <script type="text/javascript">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "//vk.com/js/api/openapi.js?126";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'vk_openapi_js'));
        (function() {
          if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-100461189_207', -100461189, 207, 'krGUqkiX8SP2q6yTjO3xoZBw-aEm', {
              redesign: 1,
              width: 'auto',
              base_domain: '//new.vk.com'
            })) setTimeout(arguments.callee, 50);
        }());
      </script>
    </div>
    <div class="col-md-8">
      <div id="vk_post_-100461189_206"></div>
      <script type="text/javascript">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "//vk.com/js/api/openapi.js?126";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'vk_openapi_js'));
        (function() {
          if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_206", -100461189, 206, 'eg0613GqJDRFQJN5a5o0XzFp_OI8', {
              redesign: 1,
              width: 'auto'
            })) setTimeout(arguments.callee, 50);
        }());
      </script>
    </div>
    <div class="col-md-8">
      <div id="vk_post_-100461189_195"></div>
      <script type="text/javascript">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "//vk.com/js/api/openapi.js?126";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'vk_openapi_js'));
        (function() {
          if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_195", -100461189, 195, 'svcvzFRFjQWadQ3Uv3sFs4HAxUEG', {
              redesign: 1,
              width: 'auto'
            })) setTimeout(arguments.callee, 50);
        }());
      </script>
    </div>
  </div>
</div>
