<div class="news-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Свежие новости</h1>

    </div>
  </div>
  <div class="row news">


    <div class="col-md-8">
<div id="vk_post_-100461189_234"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?135"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_234", -100461189, 234, 'ptwdoBreghhx256j70l3DrtucA', {width: 400})) setTimeout(arguments.callee, 50);  }());</script>
    </div>


    <div class="col-md-8">
<div id="vk_post_-100461189_232"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?135"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_232", -100461189, 232, 'tOKdqhzGla0kvy11HTE_5HFRhA', {width: 400})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

    <div class="col-md-8">
<div id="vk_post_-100461189_230"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_230", -100461189, 230, 'O4i-iEpkhiTUJV8jkNprp2RlXw', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

    <div class="col-md-8">
   <div id="vk_post_-100461189_228"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_228", -100461189, 228, '8kIoxdCuDhXtNl7Hu-6fUM_m_g', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

    <div class="col-md-8">
   <div id="vk_post_-100461189_224"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_224", -100461189, 224, 'fsjxArlK66S2i4A8ynnDvs0nfw', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

    <div class="col-md-8">
<div id="vk_post_-100461189_222"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_222", -100461189, 222, 'U-t8MOtuUYPqorc85dJgGmzB8A', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

    <div class="col-md-8">
<div id="vk_post_-100461189_219"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_219", -100461189, 219, 'Uy2tFg8np6hUXor7EfGo7h-UIQ', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

        <div class="col-md-8">
<div id="vk_post_-100461189_218"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_218", -100461189, 218, 'LP5_KHP11bHLMAVfPrC4ntaXlQ', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

        <div class="col-md-8">
<div id="vk_post_-100461189_215"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_215", -100461189, 215, 'FGuQAT0G3gRgfcrXMqE7HBqheQ', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

        <div class="col-md-8">
<div id="vk_post_-100461189_213"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_213", -100461189, 213, 'tca6L5Kd2_hvw52DYdzpL6OuTA', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>

        <div class="col-md-8">
<div id="vk_post_-100461189_212"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_212", -100461189, 212, '7y2I1XWxIib-vHfvzHAt0U3WLQ', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>
    
        <div class="col-md-8">
<div id="vk_post_-100461189_207"></div><script type="text/javascript">  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));  (function() {    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-100461189_207", -100461189, 207, 'kbOdrE6X-HGl_PrBg-OhpMQlrA', {width: 'auto'})) setTimeout(arguments.callee, 50);  }());</script>
    </div>
    
  </div>
</div>
