<div class="payments-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Оплатить</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form method="POST" name="paymentForm" action="https://money.yandex.ru/eshop.xml">

        <input type="hidden" name="shopId" value="61812">
        <input type="hidden" name="scid" value="56687">


        <input type="hidden" name="customerNumber" size="64">

        <div class="form-group">
          <label>Сумма:</label>
          <input class="form-control" type="number" name="sum" size="20" placeholder="Сумма в рублях" ng-model="main.sum" ng-class="{ 'has-error' : paymentForm.sum.$invalid && !paymentForm.sum.$pristine }" ng-model="main.sum" required>
        </div>
        <div class="form-group">
          <label for="cps_phone">Телефон:</label>
          <input type="tel" name="cps_phone" placeholder="Номер телефона" class="form-control" ng-class="{ 'has-error' : paymentForm.cps_phone.$invalid && !paymentForm.cps_phone.$pristine }" ng-model="main.cps_phone" required>
        </div>

        <div class="form-group">
          <label for="custName">Имя:</label>
          <input type="text" name="custName" maxlength="80" placeholder="Ваше имя" class="form-control" ng-class="{ 'has-error' : paymentForm.custName.$invalid && !paymentForm.custName.$pristine }" ng-model="main.custName" required>
        </div>

        <div class="form-group">
          <label for="custAddr">Адрес доставки:</label>
          <input type="text" name="custAddr" maxlength="300" placeholder="Адрес доставки" class="form-control" ng-class="{ 'has-error' : paymentForm.custAddr.$invalid && !paymentForm.custAddr.$pristine }" ng-model="main.custAddr" required>
        </div>

        <div class="form-group">
          <label for="custEmail">E-mail:</label>
          <input type="email" name="custEmail" maxlength="300" placeholder="Электронная почта" class="form-control" ng-class="{ 'has-error' : paymentForm.custEmail.$invalid && !paymentForm.custEmail.$pristine }" ng-model="main.custEmail" required>
        </div>

        <div class="form-group">
          <label for="orderDetails">Содержание заказа:</label>
          <textarea type="text" name="orderDetails" rows="10" cols="60" placeholder="Содержание заказа" class="form-control" ng-class="{ 'has-error' : paymentForm.orderDetails.$invalid && !paymentForm.orderDetails.$pristine }" ng-model="main.orderDetails" required></textarea>
        </div>


          <div class="radio">
            <label>
              <input type="radio" name="paymentType" checked="checked" value="AC">
              С банковской карты
            </label>

          </div>
          <div class="radio">
            <label>
              <input type="radio" name="paymentType" value="PC">
              Со счета в Яндекс.Деньгах (яндекс кошелек)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="paymentType" value="WM">
              Оплата cо счета WebMoney
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="paymentType" value="AB">
              Оплата через Альфа-Клик
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="paymentType" value="QW">
              Оплата через Qiwi
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="paymentType" value="KV">
              КупиВкредит
            </label>
          </div>



           <button type="submit" ng-disabled="paymentForm.$invalid" class="btn btn-primary">Оплатить</button>
    </form>

<!--
        <br> Способ оплаты:
        <br>
        <br>
        <input name="paymentType" value="AC" type="radio" checked="checked"> С банковской карты
        <br>
        <input name="paymentType" value="PC" type="radio"> Со счета в Яндекс.Деньгах (яндекс кошелек)
        <br>
        <input name="paymentType" value="GP" type="radio"> Оплата по коду через терминал
        <br>
        <input name="paymentType" value="WM" type="radio"> Оплата cо счета WebMoney
        <br>
        <input name="paymentType" value="AB" type="radio"> Оплата через Альфа-Клик
        <br>
        <input name="paymentType" value="PB" type="radio"> Оплата через Промсвязьбанк
        <br>
        <input name="paymentType" value="MA" type="radio"> Оплата через MasterPass
        <br>
        <input name="paymentType" value="QW" type="radio"> Оплата через Qiwi
        <br>
        <input name="paymentType" value="QP" type="radio"> Куппи.ру
        <br>
        <input name="paymentType" value="KV" type="radio"> КупиВкредит
        <br>
        <br>
        <input type="submit" value="Оплатить">
        <br>
-->
        <!--
Ниже перечислены доступные формы оплаты.
Перечисленные методы оплаты могут быть доступны в боевой среде после подписания Договора.
Какие именно методы доступны для вашего Договора, вы можете уточнить у своего персонального менеджера.

AB - Альфа-Клик
AC - банковская карта
GP - наличные через терминал
MA - MasterPass
MC - мобильная коммерция
PB -интернет-банк Промсвязьбанка
PC - кошелек Яндекс.Денег
SB - Сбербанк Онлайн
WM - кошелек WebMoney
WQ - Qiwi
QP - Куппи.ру
KV - КупиВкредит

<input name="paymentType" value="GP" type="radio">Оплата по коду через терминал<br>
<input name="paymentType" value="WM" type="radio">Оплата cо счета WebMoney<br>
<input name="paymentType" value="AB" type="radio">Оплата через Альфа-Клик<br>
<input name="paymentType" value="PB" type="radio">Оплата через Промсвязьбанк<br>
<input name="paymentType" value="MA" type="radio">Оплата через MasterPass<br>
<input name="paymentType" value="QW" type="radio">Оплата через Qiwi<br>
<input name="paymentType" value="QP" type="radio">Куппи.ру<br>
<input name="paymentType" value="KV" type="radio">КупиВкредит<br>
    </div>
  </div>
</div>
Перечисление всех методов оплаты https://tech.yandex.ru/money/doc/payment-solution/ref..
-->

        <!--
EPS и PNG файлы яндекс.кошелька
https://money.yandex.ru/partners/doc.xml?id=522991

EPS и PNG других платежных методов
https://money.yandex.ru/doc.xml?id=526421
-->
