<div class="post-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Написать нам</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

    <form action="send.php" method="POST"> 
 
    <p><strong>Имя: </strong></p><p> <input type="text" name="name" placeholder="Иванов Иван Иванович" size="50"> </p> 
 
    <p><strong>E-mail: </strong></p><p> <input type="text" name="email" placeholder="example@mail.ru" size="50"></p> 

    <p><strong>Контактный телефон: </strong></p><p> <input type="text" name="tel" placeholder="89213456789" size="50"></p> 
 
    <p><strong>Сообщение: </strong></p><p> <textarea rows="10" cols="50" name="message" size="50"></textarea></p> 
 
    <input type="submit" value="Отправить" class="btn btn-primary"  > </form>

    </div>
  </div>
</div>