<div class="shop-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Написать нам</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

    <form action="send.php" method="POST"> 
 
    <p><strong>Имя: </strong></p><p> <input type="text" name="name"> </p> 
 
    <p><strong>E-mail: </strong></p><p> <input type="text" name="email"></p> 

    <p><strong>Контактный телефон: </strong></p><p> <input type="text" name="tel"></p> 
 
    <p><strong>Сообщение: </strong></p><p> <textarea rows="10" cols="45" name="message"></textarea></p> 
 
    <input type="submit" value="Отправить"> </form>

    </div>
  </div>
</div>