<div class="post-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Написать нам</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">

      <form action="send.php" method="POST">
        <div class="form-group">
          <label>Имя:</label>
          <input type="text" name="name" placeholder="Иванов Иван Иванович" class="form-control">
        </div>
        <div class="form-group">
          <label>E-mail:</label>
          <input type="text" name="email" placeholder="example@mail.ru" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Контактный телефон: </label>
          <input type="text" name="tel" placeholder="89213456789" class="form-control">
        </div>
        <div class="form-group">
          <label>Сообщение: </label>
          <textarea rows="10" class="form-control" name="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>

    </div>
  </div>
</div>
