<div class="shop-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Наши дистрибьютеры</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4 class="margin-helper">Розничные магазины в Санкт-Петербурге:</h4>
      <p><strong>«Солдатики»</strong>, Поварской переулок, д.11, (ближайшие станции метро — «Маяковская» и «Владимирская») <a href="http://magazin-soldatikov.ru/" target="_blank">magazin-soldatikov.ru</a></p>
      <p><strong>«Военный коллекционер»</strong>, Загородный проспект, д.36 (ближайшие станции метро — «Звенигородская», «Пушкинская», «Владимирская», «Достоевская») <a href="http://www.militaria-centre.com/" target="_blank">www.militaria-centre.com</a></p>
      <p><strong>«Интересный магазин»</strong>, пр. Кима д.4 в помещении магазина «Лига Мебель» (метро «Приморская») <a href="http://mymodelizm.ru/" target="_blank">mymodelizm.ru</a></p>
      <h4 class="tel-opt margin-helper">Розничные магазины в Москве:</h4>
      <p><strong>«Startset»</strong>, Волоколамское шоссе д.89, корпус 1, строение 2, офис 116 <a href="http://startset.ru/" target="_blank">startset.ru</a></p>
      <h4 class="tel-opt margin-helper">Розничные магазины в других регионах:</h4>
      <dl>
        <dt><p><em>Архангельск:</em></p></dt>
        <dd>
          <p><strong>«Солдатиков.нет»</strong>, пр. Никольский, д. 78, 2-й этаж, офис 4 <a href="http://soldatikov.net/" target="_blank">soldatikov.net</a></p>
        </dd>
        <dt><p><em>Воронеж:</em></p></dt>
        <dd>
          <p><strong>Хобби-Центр «Илья Муромец»</strong>, ул. Средне-Московская, 32Б <a href="https://vk.com/iliamurometz" target="_blank">vk.com/iliamurometz</a></p>
        </dd>
        <dt><p><em>Тула:</em></p></dt>
        <dd>
          <p><strong>Хобби-Центр «Магазин Моделей»</strong>, ул.Пушкинская, д.19 офис 101 <a href="http://magmodels.ru/" target="_blank">magmodels.ru</a></p>
        </dd>
      </dl>

    </div>
  </div>
</div>
